
/* BLOCCO LEZIONI */
#lezioni {
  text-align: center;
  margin-top: 100px;
}

#lezioni .container img {
  /* per centrare orizzontalmente */
  display: block;
  margin: 0 auto;
}



/* BLOCCO STEPS */
#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

/* MEDIA QUERY */

/* XS */
@media all and (max-width: 767px) {
  #lezioni,
  #why  {    
    background-color: #F0F0C8;
  }
  
  #lezioni {
    margin: 0 auto;
  }
  #why {  
    margin-top: 20px;      
    padding: 2%;
    border-color: grey;
  }
    
}


/* MD */
@media all and (min-width: 767px)
and (max-width: 991px) {
  #lezioni  {
    margin: 0 auto;
    background-color: lightskyblue;
    }
  #steps {
    padding: 10px 2%;
    background-color: rgb(202, 132, 202);
    }
    #why {
      padding: 2%;
      border-color: grey;
      background-color: seagreen;
    }
}